<head>
    <title>Editar Destino</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% if user.is_authenticated %}
  <p>Bienvenido, {{ user.username }} | <a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
  <p><a href="{% url 'login' %}">Iniciar sesión</a> o <a href="{% url 'registro' %}">Registrarse</a></p>
{% endif %}
<h2>Agregar destino</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="nombreCiudad">Nombre de la Ciudad:</label>
    <input type="text" name="nombreCiudad" required><br>

    <label for="descripcionCiudad">Descripción:</label>
    <textarea name="descripcionCiudad" required></textarea><br>

    <label for="imagenCiudad">Imagen:</label>
    <input type="file" name="imagenCiudad" required><br>

    <label for="precioTour">Precio del Tour:</label>
    <input type="number" step="0.01" name="precioTour" required><br>

    <label for="ofertaTour">¿En oferta?</label>
    <input type="checkbox" name="ofertaTour"><br>

    <button type="submit">Guardar</button>
</form>
