<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Lista de Destinos Turísticos</title>
</head>
{% if user.is_authenticated %}
  <p>Bienvenido, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p><a href="{% url 'login' %}">Login</a> o <a href="{% url 'registro' %}">Register</a></p>
{% endif %}
<h2>Editar destino</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="nombreCiudad" value="{{ destino.nombreCiudad }}"><br>
    <textarea name="descripcionCiudad">{{ destino.descripcionCiudad }}</textarea><br>
    <input type="file" name="imagenCiudad"><br>
    <input type="number" name="precioTour" value="{{ destino.precioTour }}"><br>
    <label><input type="checkbox" name="ofertaTour" {% if destino.ofertaTour %}checked{% endif %}> Oferta</label><br>
    <button type="submit">Actualizar</button>
</form>
