<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Lista de Destinos Turísticos</title>
</head>
{% if user.is_authenticated %}
  <p>Bienvenido, {{ user.username }} | <a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
  <p><a href="{% url 'login' %}">Iniciar sesión</a> o <a href="{% url 'registro' %}">Registrarse</a></p>
{% endif %}
<h2>Destinos Turísticos</h2>
<a href="{% url 'agregar_destino' %}">Agregar nuevo destino</a>
<ul>
    {% for destino in destinos %}
        <li>
            <h3>{{ destino.nombreCiudad }}</h3>
            <img src="{{ destino.imagenCiudad.url }}" width="150">
            <p>{{ destino.descripcionCiudad }}</p>
            <p>Precio: ${{ destino.precioTour }}</p>
            {% if destino.ofertaTour %}
                <p style="color:red;">¡En oferta!</p>
            {% endif %}
            <a href="{% url 'editar_destino' destino.id %}">Editar</a> |
            <a href="{% url 'eliminar_destino' destino.id %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>
